{% extends 'timesheet/base.html' %}
{% load static %}

{% block content %}
<h1>Timesheets</h1>
<hr>
<br>

<span style="display: inline;">
    <form style="" action="{% url 'timesheet:timesheet_signin' %}">
        <button type="submit" class="btn btn-primary">Sign In</button>
    </form>
    <form style="" action="{% url 'timesheet:timesheet_signout' %}">
        <button type="submit" class="btn btn-primary">Sign Out</button>
    </form>
    <form style="" action="{% url 'timesheet:timesheet_assignhours' %}">
        <button type="submit" class="btn btn-primary">Assign Hours</button>
    </form>
</span>

<br>
<br>
<br>
<h2>Timesheet Log</h2>
<hr>
<table class="table">
    <thead>
      <tr>
        <th scope="col">Att_Abs_Type</th>
        <th scope="col">Location</th>
        <th scope="col">Date</th>
        <th scope="col">Time</th>
        <th scope="col">Comment</th>
      </tr>
    </thead>
    <tbody>
        {% for entry in entries %}
        <tr>
            <td>{{ entry.att_abs_type }}</td>
            <td>{{ entry.location }}</td>
            <td>{{ entry.date|date:"M j, Y" }}</td>
            <td>{{ entry.time|time:"g:i a" }}</td>
            <td>{{ entry.comment }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>

{% endblock %}